body {
  background: #F7F8FD;
  font-family: 'Jost', sans-serif;
}

body .container {
  width: 1200px;
  margin: 20px auto;
  background: #373F68;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 10px;
}

body .container .container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .container-left .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
}

body .container .container-left .icon p {
  margin-left: 5px;
}

body .container .container-left .road {
  font-size: 20px;
}

body .container .container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .container-right p {
  font-size: 14px;
  background-color: #AD1FEA;
  padding: 15px 25px;
  border-radius: 10px;
}

body .elements {
  width: 1260px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3A4374;
}

body .elements .elements-left, body .elements .elements-middle, body .elements .elements-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

body .elements .elements-left header, body .elements .elements-middle header, body .elements .elements-right header {
  margin: 10px 0;
}

body .elements .elements-left header h1, body .elements .elements-middle header h1, body .elements .elements-right header h1 {
  font-size: 18px;
  font-weight: 700;
}

body .elements .elements-left header p, body .elements .elements-middle header p, body .elements .elements-right header p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 7px;
}

body .elements .elements-left .item-top, body .elements .elements-left .item-bottom, body .elements .elements-left .item-middle, body .elements .elements-middle .item-top, body .elements .elements-middle .item-bottom, body .elements .elements-middle .item-middle, body .elements .elements-right .item-top, body .elements .elements-right .item-bottom, body .elements .elements-right .item-middle {
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  width: 360px;
  margin: 15px 0;
}

body .elements .elements-left .item-top h1, body .elements .elements-left .item-bottom h1, body .elements .elements-left .item-middle h1, body .elements .elements-middle .item-top h1, body .elements .elements-middle .item-bottom h1, body .elements .elements-middle .item-middle h1, body .elements .elements-right .item-top h1, body .elements .elements-right .item-bottom h1, body .elements .elements-right .item-middle h1 {
  font-size: 16px;
}

body .elements .elements-left .item-top p, body .elements .elements-left .item-bottom p, body .elements .elements-left .item-middle p, body .elements .elements-middle .item-top p, body .elements .elements-middle .item-bottom p, body .elements .elements-middle .item-middle p, body .elements .elements-right .item-top p, body .elements .elements-right .item-bottom p, body .elements .elements-right .item-middle p {
  font-weight: 700;
  font-size: 18px;
  margin: 5px 0;
}

body .elements .elements-left .item-top span, body .elements .elements-left .item-bottom span, body .elements .elements-left .item-middle span, body .elements .elements-middle .item-top span, body .elements .elements-middle .item-bottom span, body .elements .elements-middle .item-middle span, body .elements .elements-right .item-top span, body .elements .elements-right .item-bottom span, body .elements .elements-right .item-middle span {
  font-size: 16px;
}

body .elements .elements-left .item-top h2, body .elements .elements-left .item-bottom h2, body .elements .elements-left .item-middle h2, body .elements .elements-middle .item-top h2, body .elements .elements-middle .item-bottom h2, body .elements .elements-middle .item-middle h2, body .elements .elements-right .item-top h2, body .elements .elements-right .item-bottom h2, body .elements .elements-right .item-middle h2 {
  margin: 10px 0;
  font-size: 13px;
  background-color: #F2F4FF;
  padding: 10px 15px;
  border-radius: 10px;
  color: #4661E6;
  font-weight: 600;
}

body .elements .elements-left .item-top .numbers, body .elements .elements-left .item-bottom .numbers, body .elements .elements-left .item-middle .numbers, body .elements .elements-middle .item-top .numbers, body .elements .elements-middle .item-bottom .numbers, body .elements .elements-middle .item-middle .numbers, body .elements .elements-right .item-top .numbers, body .elements .elements-right .item-bottom .numbers, body .elements .elements-right .item-middle .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .elements .elements-left .item-top .numbers .number p, body .elements .elements-left .item-bottom .numbers .number p, body .elements .elements-left .item-middle .numbers .number p, body .elements .elements-middle .item-top .numbers .number p, body .elements .elements-middle .item-bottom .numbers .number p, body .elements .elements-middle .item-middle .numbers .number p, body .elements .elements-right .item-top .numbers .number p, body .elements .elements-right .item-bottom .numbers .number p, body .elements .elements-right .item-middle .numbers .number p {
  background-color: #F2F4FF;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 700;
}

body .elements .elements-left .item-top .numbers .icon, body .elements .elements-left .item-bottom .numbers .icon, body .elements .elements-left .item-middle .numbers .icon, body .elements .elements-middle .item-top .numbers .icon, body .elements .elements-middle .item-bottom .numbers .icon, body .elements .elements-middle .item-middle .numbers .icon, body .elements .elements-right .item-top .numbers .icon, body .elements .elements-right .item-bottom .numbers .icon, body .elements .elements-right .item-middle .numbers .icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .elements .elements-left .item-top .numbers .icon i, body .elements .elements-left .item-bottom .numbers .icon i, body .elements .elements-left .item-middle .numbers .icon i, body .elements .elements-middle .item-top .numbers .icon i, body .elements .elements-middle .item-bottom .numbers .icon i, body .elements .elements-middle .item-middle .numbers .icon i, body .elements .elements-right .item-top .numbers .icon i, body .elements .elements-right .item-bottom .numbers .icon i, body .elements .elements-right .item-middle .numbers .icon i {
  color: #CDD2EE;
}

body .elements .elements-left .item-top .numbers .icon span, body .elements .elements-left .item-bottom .numbers .icon span, body .elements .elements-left .item-middle .numbers .icon span, body .elements .elements-middle .item-top .numbers .icon span, body .elements .elements-middle .item-bottom .numbers .icon span, body .elements .elements-middle .item-middle .numbers .icon span, body .elements .elements-right .item-top .numbers .icon span, body .elements .elements-right .item-bottom .numbers .icon span, body .elements .elements-right .item-middle .numbers .icon span {
  margin-left: 7px;
  font-weight: 700;
  font-size: 16px;
}

body .elements .elements-left .item-top, body .elements .elements-left .item-bottom {
  border-top: 4px solid #F49F85;
  border-radius: 5px;
}

body .elements .elements-left .item-top h2, body .elements .elements-left .item-bottom h2 {
  width: 40px;
}

body .elements .elements-middle .item-top, body .elements .elements-middle .item-middle, body .elements .elements-middle .item-bottom {
  border-top: 4px solid #AD1FEA;
  border-radius: 5px;
}

body .elements .elements-middle .item-middle {
  padding-bottom: 30px;
}

body .elements .elements-middle .item-top h2, body .elements .elements-middle .item-middle h2 {
  width: 40px;
}

body .elements .elements-middle .item-bottom h2 {
  width: 20px;
}

body .elements .elements-right .item-top {
  border-top: 4px solid #62BCFA;
  border-radius: 5px;
  padding-bottom: 30px;
}

body .elements .elements-right .item-top h2 {
  width: 75px;
}
/*# sourceMappingURL=main.css.map */