$main-color: #4661E6;
$header: #373F68;
$button: #C75AF6;
;

body{
    background: #e3e2e2;
    .container{ 
        background: #F7F8FD;
        width: 1200px;
        margin: 20px auto;
        display: flex;
        justify-content:space-between;
        padding: 20px;
        .item{
            height: 120px;
            display: flex;
            flex-direction: column;
            background-color:white;
            .item-top,.item-middle{
                ul{
                    display: flex;
                    li{
                        margin: 5px 5px;
                        font-size: 13px;
                        background-color: #F2F4FF;
                        padding: 10px 20px;
                        border-radius: 10px;
                        color: #4661E6;
                        font-weight: 600;
                        }
                    }
                }
            }
            .item-top{
                ul{
                    li{
                        &:first-child{
                            background-color: $main-color;
                            color: white;
                        }
                    }
                }
            }
            .item-bottom{
                margin: 5px 5px;
                font-size: 13px;
                background-color: #F2F4FF;
                padding: 10px 20px;
                border-radius: 10px;
                width: 40px;
                color: $main-color;
                font-weight: 600;
            }
            .item:first-child{
                background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
                border-radius: 10px;
                padding: 20px;
                color: white;
                font-size: 20px;
                line-height: 28,9px;
                letter-spacing: -0.25px;
                width: 200px;
                .item-p{
                    padding: 65px 0;
                    letter-spacing: -0.25px;
                    line-height: 25px;
                }
            }
            .item:nth-child(2){
                padding: 20px 10px;
                margin: 20px 0;
                border-radius: 10px;
                width: 220px;
            }
            .item:last-child{
                padding: 20px 15px;
                border-radius: 10px;
               .road{
                   display: flex;
                   justify-content: space-between;                       margin-bottom: 20px;
                    p{
                       font-weight: 600;
                       font-size: 20px;
                       color: #3A4374;
                   }
               }
                .road-color{
                    display: flex;
                    justify-content: space-between;
                       ul{
                           li{
                               margin-bottom: 10px;
                               color: #647196;
                               font-weight: 600;
                           }
                       }
                }
        }
        .container-right{
            .header{
                display: flex;
                justify-content: space-between;
                background-color: #373F68;
                color: white;
                border-radius: 10px;
                padding: 20px 25px;
                width: 660px;
                .header-left{
                    display: flex;
                    align-items: center;
                    // font-size: 20px;
                    letter-spacing: 1px;
                    .icon{
                        font-size: 11px;
                    }
                    .suggest{
                        margin: 0 20px;
                        font-size: 20px;
                    }
                    .sort{
                        font-size: 17px;
                        color: darkgrey;
                    }
                }
                .header-right{
                    background-color: $button;
                    padding: 15px 25px;
                    border-radius: 10px;
                }
            }
            ul{
                li{
                    display: flex;
                    justify-content: space-between;
                    margin: 15px 0;
                    border-radius:10px;
                    padding: 15px 20px;
                    background-color: white;
                    .number{
                        display: flex;
                        align-items: center;
                        .reqem{
                            background: #e7e9f3;
                            padding: 20px 10px 10px 10px;
                            border-radius: 6px;
                            margin-right: 30px;
                        }
                        .letter{
                            h1{
                                color: #3A4374;
                                font-weight: 700;
                                font-size: 18px;
                            }
                            p{
                                color: #3A4374;
                                font-weight:400;
                                font-size:16px;
                                margin:10px 0;
                            }
                            button{
                                color: #4661E6;
                                border: none;
                                background: #e7e9f3;
                                border-radius: 10px;
                                padding: 10px;
                                font-weight: 600;
                            }
                        }
                    }
                    .icon{
                        display: flex;
                        align-items: center;
                        color:#CDD2EE;
                        font-size: 20px;
                        p{
                            color: black;
                            font-weight: 700;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
      

    
    

